<a href="https://colab.research.google.com/github/Ramprasath2000/Data-pipeline-for-Amazon-Customer-Review-Analysis/blob/main/amazon_data_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay         108G   38G   71G  35% /
tmpfs            64M     0   64M   0% /dev
shm             5.8G     0  5.8G   0% /dev/shm
/dev/root       2.0G  1.2G  820M  59% /usr/sbin/docker-init
tmpfs           6.4G  184K  6.4G   1% /var/colab
/dev/sda1        85G   66G   20G  78% /kaggle/input
tmpfs           6.4G     0  6.4G   0% /proc/acpi
tmpfs           6.4G     0  6.4G   0% /proc/scsi
tmpfs           6.4G     0  6.4G   0% /sys/firmware

In [2]:
import pandas as pd
df = pd.read_csv("/content/aws_data - Sheet1.csv")

In [ ]:
display(df)

,review_date,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body
0,1995-06-24,US,53096571,RHL4UW17ZK72A,521314925,981000000.0,Invention and Evolution:Design in Nature and E...,Books,5,9,9,False,False,BUY THIS BOOK!,This is a beautiful book. French talks about e...
1,1995-06-24,US,53096571,R34N4QWDXX58WB,870210092,443000000.0,"Arming and Fitting of English Ships of War, 16...",Books,4,12,13,False,False,good enough to understand all of Pat O'brien,"Nice diags, lucid explanations of rigging, gun..."
2,1995-07-07,US,53096573,RPLV77JZXG575,047194128X,377000000.0,Object-Oriented Type Systems,Books,4,4,4,False,False,"Good techniques, well written.",The best (and possibly only) book I've seen on...
3,1995-07-18,US,53011769,R33HOJ2OWJIDQI,089145537X,837000000.0,The Collector's Guide to Harker Pottery U.S.A....,Books,5,27,27,False,False,The definitive volume on Harker Pottery,"OK, I'm biased. My mother wrote this one. Many..."
4,1995-07-19,US,53096552,R3SM9591SGTMJ,517593483,114000000.0,Fingerprints Of The Gods: The Evidence of Eart...,Books,5,0,1,False,False,This book will open your mind to the past. Exc...,The author has a keen sense of how to unfold h...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,1995-11-21,US,53095692,RQR7102OERFLE,553299077,87417247.0,The Face of the Waters,Books,5,0,0,False,False,Would have made a better screenplay than WATER...,One of AGbergs best! A wonderfully lucid view ...
147,1995-11-22,US,53096316,R3RRC9ZELZT51B,676312977,178447398.0,Hero and the Crown,Books,1,13,33,False,False,"Read it aloud yourself, instead.","The book in print is magical, evocative, and l..."
148,1995-11-22,US,53073385,R3IJ91HHIWFF81,848808169,150825861.0,These Old Shades,Books,5,24,25,False,False,"Heyer's best, charming, witty, full of humor","For a light-hearted read, this is one of the m..."
149,1995-11-22,US,53096008,R12YVQ9SW06GA7,805240616,710501777.0,The Five Books of Moses: The Schocken Bible: V...,Books,5,9,9,False,False,A major translation of the First Five Books of...,A glorious book that is magnificently printed....
150,1995-11-24,US,53095677,R2XVQZDED8Q2H5,910311978,360983853.0,En Route to Global Occupation,Books,5,13,16,False,False,Ready for The Federation of Earth and a new co...,This book reads like a journey of an author wh...

In [ ]:
df = df.drop_duplicates()

In [5]:
df.isnull().sum()

review_date          0
marketplace          0
customer_id          0
review_id            0
product_id           0
product_parent       0
product_title        0
product_category     0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
review_headline      0
review_body          0
dtype: int64

In [ ]:
# df.duplicated(subset = "customer_id")
# Count of duplicate rows
# duplicate_count = df.duplicated().sum()
# print(duplicate_count)

# # Count of duplicate rows based on specific columns
# duplicate_count = df.duplicated(subset=['column1', 'column2']).sum()


# duplicates = df[df.duplicated(subset=['review_id'])]
# display(duplicates)


# # Show rows where ANY column has null values
# rows_with_nulls = df[df.isnull().any(axis=1)]
# print("Rows with null values:")
# print(rows_with_nulls)

# # Show rows where SPECIFIC column has null values
# null_rows = df[df['column_name'].isnull()]
# print(f"Rows where '{column_name}' is null:")
# print(null_rows)

# Get index of rows where ANY column has nulls
null_indexes = df[df.isnull().any(axis=1)].index
print("Indexes of rows with nulls (any column):")
print(null_indexes.tolist())  # Convert to list for easier viewing

Indexes of rows with nulls (any column):
[]

In [ ]:
print("Total nulls in DataFrame:", df.isnull().sum().sum())

Total nulls in DataFrame: 0

In [ ]:
# Check for empty strings, "NA", "NaN", etc.
hidden_nulls = df.apply(lambda x: x.astype(str).str.contains("NA|NaN|n/a|^$", na=False))
print("Potential hidden 'null' strings:")
print(hidden_nulls.sum())

Potential hidden 'null' strings:
review_date          0
marketplace          0
customer_id          0
review_id            0
product_id           0
product_parent       0
product_title        0
product_category     0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
review_headline      0
review_body          0
dtype: int64

In [ ]:
custom_placeholders = ["-", "NULL", "missing"]
df.replace(custom_placeholders, pd.NA, inplace=True)
df.isnull().sum()

review_date          0
marketplace          0
customer_id          0
review_id            0
product_id           0
product_parent       0
product_title        0
product_category     0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
review_headline      0
review_body          0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_date        151 non-null    object
 1   marketplace        151 non-null    object
 2   customer_id        151 non-null    int64
 3   review_id          151 non-null    object
 4   product_id         151 non-null    object
 5   product_parent     151 non-null    float64
 6   product_title      151 non-null    object
 7   product_category   151 non-null    object
 8   star_rating        151 non-null    int64
 9   helpful_votes      151 non-null    int64
 10  total_votes        151 non-null    int64
 11  vine               151 non-null    bool
 12  verified_purchase  151 non-null    bool
 13  review_headline    151 non-null    object
 14  review_body        151 non-null    object
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 15.8+ KB

In [8]:
date_coneversion = pd.to_datetime(df["review_date"])
date_coneversion.info()

<class 'pandas.core.series.Series'>
RangeIndex: 151 entries, 0 to 150
Series name: review_date
Non-Null Count  Dtype
--------------  -----
151 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.3 KB

In [9]:
display(date_coneversion)

0     1995-06-24
1     1995-06-24
2     1995-07-07
3     1995-07-18
4     1995-07-19
         ...
146   1995-11-21
147   1995-11-22
148   1995-11-22
149   1995-11-22
150   1995-11-24
Name: review_date, Length: 151, dtype: datetime64[ns]

In [10]:
display(df["review_date"])

0      1995-06-24
1      1995-06-24
2      1995-07-07
3      1995-07-18
4      1995-07-19
          ...
146    1995-11-21
147    1995-11-22
148    1995-11-22
149    1995-11-22
150    1995-11-24
Name: review_date, Length: 151, dtype: object

In [23]:
#converting to standard date time
# df["review_date"] = pd.to_datetime(df["review_date"])
#if it is in object it will be usefull
# df["customer_id"] = df["customer_id"].astype(object)
#only 3 values exist so it is better to use category
# df["marketplace"] = df["marketplace"].astype("category")
df["product_category"] = df["product_category"].astype("category")
# display(df["product_category"].unique())

In [27]:
print("Unique Product Categories:")
print(df["product_category"].unique())

print("\nUnique Marketplaces:")
print(df["marketplace"].unique())

Unique Product Categories:
['Books', 'Music', 'Video']
Categories (3, object): ['Books', 'Music', 'Video']

Unique Marketplaces:
['US']
Categories (1, object): ['US']

In [28]:
# Check for empty strings or placeholders
missing_values = ["", "NA", "NULL", "-", "n/a"]
for column in ["product_category", "marketplace"]:
    print(f"Missing values in {column}:")
    print(df[df[column].isin(missing_values)][column].value_counts())

Missing values in product_category:
product_category
Books    0
Music    0
Video    0
Name: count, dtype: int64
Missing values in marketplace:
marketplace
US    0
Name: count, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_date        151 non-null    datetime64[ns]
 1   marketplace        151 non-null    category
 2   customer_id        151 non-null    object
 3   review_id          151 non-null    object
 4   product_id         151 non-null    object
 5   product_parent     151 non-null    float64
 6   product_title      151 non-null    object
 7   product_category   151 non-null    category
 8   star_rating        151 non-null    int64
 9   helpful_votes      151 non-null    int64
 10  total_votes        151 non-null    int64
 11  vine               151 non-null    bool
 12  verified_purchase  151 non-null    bool
 13  review_headline    151 non-null    object
 14  review_body        151 non-null    object
dtypes: bool(2), category(2), datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 13.9+ KB

In [13]:
display(df)

,review_date,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body
0,1995-06-24,US,53096571,RHL4UW17ZK72A,521314925,981000000.0,Invention and Evolution:Design in Nature and E...,Books,5,9,9,False,False,BUY THIS BOOK!,This is a beautiful book. French talks about e...
1,1995-06-24,US,53096571,R34N4QWDXX58WB,870210092,443000000.0,"Arming and Fitting of English Ships of War, 16...",Books,4,12,13,False,False,good enough to understand all of Pat O'brien,"Nice diags, lucid explanations of rigging, gun..."
2,1995-07-07,US,53096573,RPLV77JZXG575,047194128X,377000000.0,Object-Oriented Type Systems,Books,4,4,4,False,False,"Good techniques, well written.",The best (and possibly only) book I've seen on...
3,1995-07-18,US,53011769,R33HOJ2OWJIDQI,089145537X,837000000.0,The Collector's Guide to Harker Pottery U.S.A....,Books,5,27,27,False,False,The definitive volume on Harker Pottery,"OK, I'm biased. My mother wrote this one. Many..."
4,1995-07-19,US,53096552,R3SM9591SGTMJ,517593483,114000000.0,Fingerprints Of The Gods: The Evidence of Eart...,Books,5,0,1,False,False,This book will open your mind to the past. Exc...,The author has a keen sense of how to unfold h...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,1995-11-21,US,53095692,RQR7102OERFLE,553299077,87417247.0,The Face of the Waters,Books,5,0,0,False,False,Would have made a better screenplay than WATER...,One of AGbergs best! A wonderfully lucid view ...
147,1995-11-22,US,53096316,R3RRC9ZELZT51B,676312977,178447398.0,Hero and the Crown,Books,1,13,33,False,False,"Read it aloud yourself, instead.","The book in print is magical, evocative, and l..."
148,1995-11-22,US,53073385,R3IJ91HHIWFF81,848808169,150825861.0,These Old Shades,Books,5,24,25,False,False,"Heyer's best, charming, witty, full of humor","For a light-hearted read, this is one of the m..."
149,1995-11-22,US,53096008,R12YVQ9SW06GA7,805240616,710501777.0,The Five Books of Moses: The Schocken Bible: V...,Books,5,9,9,False,False,A major translation of the First Five Books of...,A glorious book that is magnificently printed....
150,1995-11-24,US,53095677,R2XVQZDED8Q2H5,910311978,360983853.0,En Route to Global Occupation,Books,5,13,16,False,False,Ready for The Federation of Earth and a new co...,This book reads like a journey of an author wh...

In [18]:
# df[df['review_date'].isna()]  # Should return empty if all dates are valid.
df[df['helpful_votes'] < 0]  # Votes should never be negative.

Empty DataFrame
Columns: [review_date, marketplace, customer_id, review_id, product_id, product_parent, product_title, product_category, star_rating, helpful_votes, total_votes, vine, verified_purchase, review_headline, review_body]
Index: []

In [19]:
# Check uniqueness ratio (if < 10%, likely categorical)
print(df['marketplace'].nunique() / len(df))  # e.g., 3/151 = 2% â†’ categorical
print(df['product_category'].nunique() / len(df))  # e.g., 5/151 = 3.3% â†’ categorical
print(df['review_body'].nunique() / len(df))  # e.g., 150/151 = 99% â†’ NOT categorical

0.006622516556291391
0.019867549668874173
0.9933774834437086